In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
s = pd.Series([1, 2, 3, 5, np.nan, 7, 8])
s

0    1.0
1    2.0
2    3.0
3    5.0
4    NaN
5    7.0
6    8.0
dtype: float64

In [6]:
dates = pd.date_range('20170208', periods=6)
dates

DatetimeIndex(['2017-02-08', '2017-02-09', '2017-02-10', '2017-02-11',
               '2017-02-12', '2017-02-13'],
              dtype='datetime64[ns]', freq='D')

In [8]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2017-02-08  0.003427  0.601264 -1.174628  0.027331
2017-02-09 -0.452986 -0.041764  0.011060 -1.128119
2017-02-10 -0.836700 -0.983672  0.930403 -0.756533
2017-02-11 -2.536738 -0.311604 -0.324169  1.498206
2017-02-12 -0.511426  0.147461  1.044795 -1.225679
2017-02-13 -0.714608  1.425589 -1.474112  0.619248

In [16]:
np.random.randn(1000, 4)

array([[-2.25631535,  0.89710424,  0.43363202,  1.08092595],
       [-0.33442903,  0.41171262,  0.96897437,  0.12657697],
       [-1.43670629, -0.20894802,  0.9538217 ,  0.54157571],
       ...,
       [-0.17485904,  0.07357328,  0.89948676,  1.85015165],
       [ 2.61934134,  0.52730816,  0.2216906 , -0.09753428],
       [ 1.6223845 , -1.00981407, -1.46463941, -3.09715343]])